<section>
  <app-banner></app-banner>
  <div class="container">
    <h2>Specialist Network</h2>
    <h3>“BuzZ Delivery Network Specialists”</h3>
    <p class="lead">
      The BuzZ Delivery Network makes available its group of specialists, to
      agents and members who participate in the Network Strategy and
      Partnerships.
    </p>

    <ul class="list-unstyled">
      <li>
        BuzZ Online Software Support
        <ul>
          <li>Service Level agreement</li>
          <li>Training</li>
          <li>Administration</li>
        </ul>
      </li>
      <li>
        Information technology (IT)
        <ul>
          <li>Infrastructure</li>
          <li>Software</li>
          <li>Hardware</li>
          <li>Support</li>
          <li>Consultancy</li>
        </ul>
      </li>
      <li>
        Legal
        <ul>
          <li>Existing contacts</li>
          <li>Documents and forms</li>
        </ul>
      </li>
      <li>
        Financial
        <ul>
          <li>System reports</li>
          <li>Consultancy services</li>
        </ul>
      </li>
      <li>
        Marketing
        <ul>
          <li>Strategies</li>
          <li>Branding</li>
          <li>Online</li>
          <li>Social media</li>
          <li>Print</li>
        </ul>
      </li>
      <li>
        Human Resources
        <ul>
          <li>Contracts (available)</li>
          <li>Labour relations</li>
          <li>Performance Management</li>
          <li>Job descriptions</li>
        </ul>
      </li>
      <li>
        Insurance
        <ul>
          <li>Brokers</li>
          <li>Formulated packages</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
