<section>
  <app-banner></app-banner>
  <div class="container">
    <h2>
      BuzZ Online Systems
    </h2>
    <h3>“BuzZ Online - Software as a Service”</h3>

    <p class="lead">Manage and control your online business:</p>

    <ul class="list-group">
      <li class="list-group-item">Web ordering</li>
      <li class="list-group-item">Call -In ordering</li>
      <li class="list-group-item">Workflows</li>
      <li class="list-group-item">Delivery logistics</li>
      <li class="list-group-item">Product management (item menus)</li>
      <li class="list-group-item">Invoicing</li>
      <li class="list-group-item">Business reporting</li>
      <li class="list-group-item">Statistical dashboards</li>
      <li class="list-group-item">Customer management</li>
      <li class="list-group-item">Supports multiple tier business models</li>
      <li class="list-group-item">Cloud based and hosted with security</li>
      <li class="list-group-item">Voucher management</li>
      <li class="list-group-item">Online payment gateway</li>
      <li class="list-group-item">
        Vendor kiosk app
        <ul>
          <li>Receiving of orders at store level</li>
          <li>Order management workflow</li>
        </ul>
      </li>
      <li class="list-group-item">
        Driver app
        <ul>
          <li>Driver order details</li>
          <li>Driver collection and drop off</li>
          <li>Driver navigation</li>
          <li>Driver tracking</li>
          <li>Driver workflow</li>
        </ul>
      </li>
      <li class="list-group-item">
        PWA (Progressive web application)
        <ul>
          <li>Online web ordering is mobile friendly</li>
        </ul>
      </li>
    </ul>
  </div>
  <app-notice></app-notice>
</section>
