<header class="sticky-top navbar-background-colour">
  <nav class="container navbar navbar-expand-lg  navbar-background-colour">
    <a class="navbar-brand" routerLink="/home">
      <span
        ><img
          class="logo-size"
          src="../assets/images/Buzz-Logo-1.png"
          alt="Buzz Delivery Network Logo"
      /></span>
    </a>

    <button
      class="navbar-toggler border-dark"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon icon-bar border-dark"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{ show: navbarOpen }"
    >
      <div class="nav navbar-nav mr-auto"></div>
      <ul class="nav navbar-nav navbar-right">
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/about">About </a>
        </li>
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/online-systems"
            >BuzZ Online Systems
          </a>
        </li>
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/specialist-network"
            >Specialist Network
          </a>
        </li>
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/online-and-delivery-network"
            >Online & Delivery Network
          </a>
        </li>
        <li (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/call-centre">Call Centre </a>
        </li>
        <li (click)="toggleNavbar()">
          <a
            class="nav-link"
            routerLink="/members"
            *ngIf="auth.isAuthenticated()"
            >Members</a
          >
        </li>

        <li (click)="toggleNavbar()">
          <a
            class="nav-link"
            href="#"
            (click)="auth.login()"
            *ngIf="!auth.isAuthenticated()"
            >Members Login
            <div class="showLoggedOut" *ngIf="!auth.isAuthenticated()"></div>
          </a>
        </li>
        <li (click)="toggleNavbar()">
          <a
            class="nav-link"
            href="#"
            (click)="auth.logout()"
            *ngIf="auth.isAuthenticated()"
            >Log-Out
            <div class="showLoggedIn" *ngIf="auth.isAuthenticated()"></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
